# Server Port & Host
PORT=7033
HOST=0.0.0.0

# Addon Base URL (Usa l'URL pubblico se fai hosting su VPS, Render, Cloudflare Tunnel o Docker)
ADDON_URL=http://localhost:7033

# Cache TTL in millisecondi
STREAM_CACHE_TTL_MS=0
SCHEDULE_CACHE_TTL_MS=600000

# Debugging
DEBUG=false
